* {
    margin: 0px auto;  
}

/*CORPO DA PÁGINA*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(95, 92, 92, 0)158, 132, 132);
}

/*CABEÇALHO*/
header {
    text-align: center;  
    background-color: lightseagreen;
    color:black;
    padding: 50px 30px 50px 30px; 
}
    /*TITULO DO CABEÇALHO*/
    header h1{
        color: red;
        font-size: 40px;
    }

    /*SUBTITULO DO CABEÇALHO*/
    header p{
        font-style: italic;
        font-weight: bolder;
    }

    /*IMAGEN DO CABECALHO A DIREITA*/
    .imageLeft{
        height: 100px;
        width: 100px;
        float: left;
        margin: -15px -180px 20px 80px;
    }

    /*IMAGEM DO CABECALHO A ESQUERDA*/
    .imageRight{
        height: 100px;
        width: 100px;
        float: right;
        margin: -80px 120px 20px 20px;
    }

    /*ESTRUTURA DO TEXTO*/
section {
    clear: both;


}

    article { 
       float: left;
       text-align: left;
       padding-left: 120px;
         
    }

    .imageArticle{
        width: 500px;
        height: 300px;
        background-position: 0 auto; 
    }

    aside {
        float: left;
        text-align: left;
        padding-left: 160px;
    }
     
    .imageAside{
        width: 400px;
        height: 150px;
        background-position: 0 auto; 
    }

    h3{
        text-align: center;
        float: center;
    }
    
    h4{
        text-align: center;
    }

    
    /*RODAPÉ*/
footer {
    background-color: rgb(10, 70, 67);
    padding: 50px 1298px 50px 30px;
    position: absolute;
    bottom:-450px;
    float: left;
    text-align: center;
}
    