* {
    margin: 0 auto;
}

.divTudo{
font-family: arial,sans-serif;
background-color: lightblue
}

.divTudo02{
    background-color: snow;
    margin: 0px 250px;
    word-spacing: 10px;
}

.divLinha{
    clear: both;
}

.h2TituloSessao{
    font-size: 20px;
    text-decoration: underline;
    border-top-style: solid;
    border-color: lightblue;
    border-width: 1.5px;
}

#divCabecalho{
    background-color: limegreen;
    min-height: 50px;
    padding: 50px 50px 10px 50px;
    text-align: center;
    word-spacing: 15px;
}

#h1TituloCabecalho{
    color:yellow;
    float: center;
    min-width: 50px;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

.divTitulos{
    width: 100%; 
}

.left{
    text-align: left;
}

.center{
    text-align: center;
    float: center;
    text-indent: 10px;
}


#tableClasssificacao{
    width: 100%;
    background-color: #ffffff;
    text-align: left;
}


#h3TituloGrupo{
    font-size: 14px;
    text-indent: 10px;
    font-style: oblique;
}

#tableGoleadores{
    width: 100%;
    background-color: #ffffff;
}

#tableJogos{
    width: 100% ;
    background-color: #ffffff;
    text-align: center;
}

.circleTrue{
    height: 15px;
    width: 15px;
    background-color:green;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}

.circleFalse{
    height: 15px;
    width: 15px;
    background-color:red;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
    
}

.circleNone{
    height: 15px;
    width: 15px;
    background-color:gray;
    border-radius: 50%;
    float: left;
    margin-left: 10px;
}

.border{
    border-color: turquoise;
    border-width: 2.5px;
    border-style: solid;
}