body{
    font-family: Arial;
}

.tabela00{
    background-color: cadetblue;
    height: 85px;
}

.titulos{
 text-align: center;
}

.linha{
    text-decoration: underline;
}

.tabela01{
    background-color: lightgreen;
    height:240px;
    float: center;
    padding-top: 50px;
    margin: 0px 200px 0px 200px;
    text-align: left;
}

#grupos{
 color: black;
 text-align: left;
 float: left;
 margin-top: -60px;
 font-weight: bolder;
 text-indent: 30px;
 }

 .clubes{
     width: 97%;
    text-align: left;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

#icones{
 padding: 20px;
}

.dados{
    width: 97%;
    float: right;
    text-align: right;
    margin-left: 2%;
    margin-right: 2%;
    clear: both;

}

#colunameio{
    float: left;
    width: 1px;
    height: 40px;
    clear: both;
}