
section{
    background-color: lightcyan;
}

h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
}

label{
    margin-left: 5%;
}

img{
    width: 30%;
    height: 30%;
}

.zoom img:hover {
    -webkit-transform: scale(2.2);
    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    -ms-transform: scale(2.2);
    transform: scale(2.2);
}